* {
    font-family: 'Play', sans-serif;
}

body {
    margin-top: 0px; /* Abstand zwischen Header und Body entfernt */
}

.newsArticle {
    min-height: 500px;
    background-color: white;
    margin-top: 60px; /* Abstand zwischen dem Header und der News-Sektion, der jetzt bleibt */
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
    border-radius: 15px;
    width: 60%;
    border-top: solid 5px rgb(212, 117, 0);
    border-bottom: solid 5px rgb(212, 117, 0);
    color: black; /* Textfarbe auf schwarz gesetzt */
}

.articleTitle {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.articleDescription {
    font-size: 16px;
    padding: 0px 20px 10px 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black; /* Textfarbe der Beschreibung ebenfalls schwarz */
}

.team {
    text-align: center;
}

.teamPlayers {
    display: inline-block;
    margin: 30px;
}

.adm {
    vertical-align: 25px;
    font-size: 30px;
    color: red;
}

.modder {
    vertical-align: 25px;
    font-size: 30px;
    color: greenyellow;
}

.helper {
    vertical-align: 25px;
    font-size: 30px;
    color: cyan;
}

.builder {
    vertical-align: 25px;
    font-size: 30px;
    color: goldenrod;
}

/* Optimierungen für größere Bildschirme */
@media screen and (max-width: 1600px) {
    .newsArticle {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

/* Optimierungen für mittlere Bildschirme (Laptops/Desktops) */
@media screen and (max-width: 1200px) {
    .newsArticle {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

/* Optimierungen für kleinere Bildschirme (Tablets und Smartphones) */
@media screen and (max-width: 990px) {
    .newsArticle {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        margin-top: 60px; /* Der Abstand zu Header bleibt bei 60px */
    }

    /* Anpassungen für den Text in der Artikelbeschreibung */
    .articleDescription {
        font-size: 14px;
        padding: 0px 15px 10px 15px;
    }

    /* Anpassen der Schriftgrößen der Teammitglieder */
    .adm, .modder, .helper, .builder {
        font-size: 24px; /* Kleinere Schrift für mobile Geräte */
    }
}

@media screen and (max-width: 600px) {
    .newsArticle {
        margin-top: 60px; /* Der Abstand zu Header bleibt auch hier bei 60px */
    }

    .articleTitle {
        font-size: 32px; /* Kleinere Schriftgröße für den Titel auf kleinen Geräten */
    }

    /* Weitere Anpassungen für eine bessere mobile Ansicht */
    .teamPlayers {
        margin: 20px;
    }
}
